{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [],
    "ignore": [
        "dist/**/*.js",
        "node_modules/**/*.js",
        "clean.js",
        "copy.js"
    ]
}